[submodule "software/riscv-tests"]
	path = software/riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "docs/riscv-isa-manual"]
	path = docs/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual
[submodule "docs/riscv-plic-spec"]
	path = docs/riscv-plic-spec
	url = https://github.com/riscv/riscv-plic-spec
[submodule "docs/rv32x_dev.wiki"]
	path = docs/rv32x_dev.wiki
	url = git@github.com:/koyamanX/rv32x_dev.wiki.git
[submodule "docs/xv6-riscv-book"]
	path = docs/xv6-riscv-book
	url = https://github.com/mit-pdos/xv6-riscv-book
