simulation/logs/*
simulation/bootrom.hex
simulation/bootrom/bootrom.elf
simulation/bootrom/bootrom.hex
simulation/elfloader/elfloader.o
simulation/elfloader/libelfloader.a
simulation/failed/
simulation/obj_dir/
simulation/out/
*/rv32x_simulation
*/*/rv32x_simulation
*/*/*/rv32x_simulation
simulation/*.log
software/tests
software/bootrom/*.dtb
software/*/gtk.sh
software/*/rv32x.gtkw
*.a
*.o
*.elf
*.log
*.hex

*.vcd
.vscode/*.json
*.out
run.sh
.vscode/*
