fpga/*
simulation/logs/*
simulation/bootrom.hex
simulation/bootrom/bootrom.elf
simulation/bootrom/bootrom.hex
simulation/elfloader/elfloader.o
simulation/elfloader/libelfloader.a
simulation/failed/
simulation/obj_dir/
simulation/out/
simulation/rv32x_simulation
simulation/rv32x_simulation.vcd
simulation/*.log
software/tests
software/bootrom/*.dtb
*.a
*.o
*.elf
*.log
*.hex


run.sh
