CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y
CT_PREFIX_DIR="/opt/riscv/native-tools"
# CT_RM_RF_PREFIX_DIR is not set
CT_ARCH_RISCV=y
CT_ARCH_USE_MMU=y
CT_ARCH_ARCH="rv32ima"
CT_ARCH_ABI="ilp32"
CT_TARGET_CFLAGS="-O2 -mcmodel=medlow"
CT_TARGET_VENDOR=""
CT_CANADIAN=y
CT_HOST="riscv32-unknown-linux-gnu"
CT_KERNEL_LINUX=y
CT_LINUX_SRC_CUSTOM=y
CT_LINUX_CUSTOM_LOCATION="`pwd`/linux"
CT_LINUX_V_6_4=y
CT_BINUTILS_SRC_CUSTOM=y
CT_BINUTILS_CUSTOM_LOCATION="`pwd`/binutils-2.40"
CT_BINUTILS_V_2_40=y
CT_GCC_V_12=y
# CT_CC_GCC_LDBL_128 is not set
CT_CC_LANG_CXX=y
CT_CC_LANG_FORTRAN=y
CT_COMP_LIBS_EXPAT=y
